﻿@ModelType EventoViewModel
@Imports Martins.AcoesMercadologicas.Core
@Code
    ViewData("Title") = "Edição de Evento"
End Code

<div class="widget-box widget-color-blue2">
    <div class="widget-header widget-header-small">
        <h4 class="widget-title smaller white lighter">
            <i class="ace-icon fa fa-sliders bigger-110"></i>
            Campos de Cadastro
        </h4>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            @Using (Ajax.BeginForm("Edit", "Evento", Constantes.AJAX_OBJECT_POST_DEFAULT))
                @Html.AntiForgeryToken()
                @<div class="form-horizontal">
                    <div class="row">
                        <div class="col-lg-2 col-sm-6">
                            @Html.Label("acaoID", "Evento:")
                            @Html.TextBox("CODEVTACOCMC", Model.CODEVTACOCMC, Model.CODEVTACOCMC.ToString, New With {.Class = "form-control", .readonly = "readonly"})
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            @Html.Label("comeEvento", "Nome da Evento:")
                            @Html.TextBox("NOMEVTACOCMC", Model.NOMEVTACOCMC, New With {.Class = "form-control"})
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            @Html.Label("status", "Tipo Evento:")
                            @Html.DropDownListFor(Function(m) m.TIPEVTACOCMC, New SelectList(ViewBag.tipoEvento, "TIPEVTACOCMC", "NOMTIPEVTACOCMC", Model.TIPEVTACOCMC), "Selecione...", New With {.Class = "form-control chosen-select"})
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            @Html.Label("empenho", "Empenho:")
                            @Html.DropDownListFor(Function(m) m.TIPDSNDSCBNF, New SelectList(ViewBag.empenho, "TIPDSNDSCBNF", "DESDSNDSCBNF", Model.TIPDSNDSCBNF), "Selecione...", New With {.Class = "form-control chosen-select"})
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            @Html.Label("eventoAdicional", "Evento Adicional:")
                            <div class="row">
                                <div class="col-sm-6">
                                    @Html.RadioButtonFor(Function(Model) Model.INDEVTADIACOCMC, 1)
                                    @Html.Label("sim", "Sim")
                                </div>
                                <div class="col-sm-6">
                                    @Html.RadioButtonFor(Function(Model) Model.INDEVTADIACOCMC, 2)
                                    @Html.Label("nao", "Não")
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            @Html.Label("politica", "Política Divergente:")
                            <div class="row">
                                <div class="col-sm-6">
                                    @Html.RadioButtonFor(Function(Model) Model.INDEVTMTDPOLDVR, 1)
                                    @Html.Label("sim2", "Sim")
                                </div>
                                <div class="col-sm-6">
                                    @Html.RadioButtonFor(Function(Model) Model.INDEVTMTDPOLDVR, 2)
                                    @Html.Label("nao2", "Não")
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            @Html.Label("VinculoPromocao", "Vinculação Promoção:")
                            <div class="row">
                                <div class="col-sm-6">
                                    @Html.RadioButtonFor(Function(Model) Model.INDVCLPMC, 1)
                                    @Html.Label("sim3", "Sim")
                                </div>
                                <div class="col-sm-6">
                                    @Html.RadioButtonFor(Function(Model) Model.INDVCLPMC, 2)
                                    @Html.Label("nao3", "Não")
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group pull-left">
                                <button type="submit" class="btn btn-info btn-white ">
                                    <i class="ace-icon fa fa-plus bigger-120"></i>
                                    Salvar
                                </button>
                            </div>
                            <a href="@Url.Action("Index")" class="btn btn-white btn-danger">
                                <i class="ace-icon fa fa-times bigger-120 red"></i>
                                Cancelar
                            </a>
                        </div>
                    </div>
                </div>
            End Using
        </div>
    </div>
</div>