﻿@ModelType GridSettings(Of ExtratoVerbaViewModel)
@Imports Martins.AcoesMercadologicas.Core



<div class="widget-box widget-color-blue2 @IIf(Model.ListPaged.Count = 0, " hide", "")">
    <div class="widget-header widget-header-small">
        <h4 class="widget-title smaller white lighter">
            <i class="ace-icon fa fa-list bigger-110"></i>
            Resultados
        </h4>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div>
                <div style="width: auto; overflow-x: scroll;">
                    <table class="table table-striped table-bordered table-hover dataTable" role="grid" style="min-width: 600px;">
                        <thead>
                            <tr role="row">
                                <th class="@Grid.AtribuirIconeOrdenacao("CODDIVCMP", Model.Page.OrderBy)" data-href="@Grid.OrdenarColuna("CODDIVCMP", Model.Page.OrderBy)">
                                    Cod Celula
                                </th>
                                <th class="@Grid.AtribuirIconeOrdenacao("DESDIVCMP", Model.Page.OrderBy)" data-href="@Grid.OrdenarColuna("DESDIVCMP", Model.Page.OrderBy)">
                                    Celula
                                </th>
                                <th class="@Grid.AtribuirIconeOrdenacao("CODDRTCMP", Model.Page.OrderBy)" data-href="@Grid.OrdenarColuna("CODDRTCMP", Model.Page.OrderBy)">
                                    Cod Diretoria
                                </th>
                                <th class="@Grid.AtribuirIconeOrdenacao("DESDRTCMP", Model.Page.OrderBy)" data-href="@Grid.OrdenarColuna("DESDRTCMP", Model.Page.OrderBy)">
                                    Diretoria
                                </th>
                                <th class="@Grid.AtribuirIconeOrdenacao("CODFRN", Model.Page.OrderBy)" data-href="@Grid.OrdenarColuna("CODFRN", Model.Page.OrderBy)">
                                    Cod Fornecedor
                                </th>
                                <th class="@Grid.AtribuirIconeOrdenacao("NOMFRN", Model.Page.OrderBy)" data-href="@Grid.OrdenarColuna("NOMFRN", Model.Page.OrderBy)">
                                    Fornecedor
                                </th>
                                <th class="@Grid.AtribuirIconeOrdenacao("VLRSLD", Model.Page.OrderBy)" data-href="@Grid.OrdenarColuna("VLRSLD", Model.Page.OrderBy)">
                                    Saldo Extra Acordo
                                </th>
                                <th class="@Grid.AtribuirIconeOrdenacao("VLRSLDRSV", Model.Page.OrderBy)" data-href="@Grid.OrdenarColuna("VLRSLDRSV", Model.Page.OrderBy)">
                                    Saldo Reservado
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @For Each item In Model.ListPaged
                                @<tr>
                                    <td>
                                        @Html.DisplayFor(Function(model) item.CODDIVCMP)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(Function(model) item.DESDIVCMP)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(Function(model) item.CODDRTCMP)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(Function(model) item.DESDRTCMP)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(Function(model) item.CODFRN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(Function(model) item.NOMFRN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(Function(model) item.VLRSLD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(Function(model) item.VLRSLDRSV)
                                    </td>
                                </tr>
                            Next
                        </tbody>
                    </table>
                </div>
            </div>
            <br Class="clearfix" />
            @Code
                Html.RenderPartial(Constantes.VIEW_PAGINACAO)
            End Code

        </div>
    </div>
</div>
