﻿@ModelType RelacaoAcaoComercialPorItemOrcamentoViewModel
<div class="widget-box widget-color-blue2">
    <div class="widget-header widget-header-small widget-light-blue">
        <h4 class="widget-title smaller">
            Dados Da Ação
        </h4>
        <div class="widget-toolbar">
            <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up blue"></i>
            </a>
        </div>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    @Html.Label("filial", "Filial:")
                    @Html.TextBox("Texto de filial", ViewBag.descOperacao, New With {.Class = "form-control", .readonly = "readonly", .id = "filialItensSubstitutos"})
                </div>
                <div class="col-lg-6 col-sm-6">
                    @Html.Label("bu", "BU:")
                    @Html.TextBoxFor(Function(m) m.CODUNDESRNGCOPEDSN, New With {.Class = "form-control", .readonly = "readonly", .id = "buItensSubstitutos"})
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-sm-6">
                    @Html.Label("descricao", "Descrição:")
                    @Html.TextBoxFor(Function(m) m.CODITEOCDACOCMC, New With {.Class = "form-control", .readonly = "readonly", .id = "desItensSubstitutos"})
                </div>
                <div class="col-lg-3 col-sm-6">
                    @Html.Label("valor", "Valor:")
                    @Html.TextBoxFor(Function(f) f.ValorTotal, New With {.Class = "form-control", .readonly = "readonly", .id = "valorItensSubstitutos"})
                </div>
            </div>
        </div>
    </div>
</div>
